.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
logs
frontend/node_modules
node_modules
.env
.env.*
.coverage
htmlcov
pytest.ini
.vscode
.idea
.mypy_cache
.pytest_cache
.DS_Store
.gitignore
requirements-dev.txt
package-lock.json
