aiofiles==23.2.1
aiogram==3.5.0
aiosqlite==0.20.0
alembic==1.13.1
anyio==4.3.0
asyncpg==0.29.0
psycopg[binary]==3.1.18
fastapi==0.110.0
httpx==0.27.0
prometheus-client==0.20.0
pydantic==2.6.4
email-validator==2.1.1
pydantic-settings==2.2.1
python-dotenv==1.0.1
pytest==8.1.1
pytest-asyncio==0.23.5
pytest-cov==7.0.0
sqlalchemy==2.0.28
uvicorn[standard]==0.27.1
openai==1.14.3
